<div class="modal-body card" *ngIf="city">
  <div class="row">
    <span class="col">Temp</span>
    <span class="col">Sensación</span>
    <span class="col">Húmedad</span>
    <span class="col">Presión</span>
  </div>
  <div class="row">
    <span class="col">{{ city.main.temp }}</span>
    <span class="col">{{ city.main.feels_like }}
    </span>
    <span class="col">
      {{ city.main.humidity }}
    </span>
    <span class="col">
      {{ city.main.pressure }}
    </span>
  </div>
</div>