<div class="cities_list_container">
  <div class="title_list">
    <span><h4>Nombre</h4></span>
    <span>Temp º</span>
    <span>Sensacion º</span>
    <span>Min</span>
    <span>Max</span>
    <span>
    </span>
  </div>
  <div class="city_container" *ngFor="let city of citiesList; trackBy:cityId">
    <span><h4>{{ city.name }}</h4></span>
    <span>{{ city.main.temp }}º</span>
    <span>{{ city.main.feels_like }}º</span>
    <span>{{ city.main.temp_min }}</span>
    <span>{{ city.main.temp_max }}</span>
    <span>
      <button (click)="mostrarModal(city)">Ver Temp en ciudad</button>
    </span>
    
  </div>
</div>
