.cities_list_container
  height: 100vh
  display: flex
  gap: 25px
  flex-direction: column

  .title_list
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-around
    align-items: center
    align-self: center

    span
      display: flex
      flex-direction: column
      align-self: center
      flex-grow: 1

.city_container
  margin: 5px
  width: 100%
  height: 140px
  background-color: #b4afaf
  border: 2px solid black
  display: flex
  justify-content: space-around
  align-items: center
  /** gap: 10px **/
  flex-direction: row
  align-self: center
  flex-grow: 1

  span
    /** margin-left: 20px **/
    gap: 10px
    align-items: center

    button
      box-shadow: inset 0px 1px 0px 0px #54a3f7
      background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%)
      background-color: #007dc1
      border-radius: 3px
      border: 1px solid #124d77
      display: inline-block
      cursor: pointer
      color: #ffffff
      font-family: Arial
      font-size: 13px
      padding: 6px 24px
      text-decoration: none
      text-shadow: 0px 1px 0px #154682

      :hover
        background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%)
        background-color: #0061a7

      :active
        position: relative
        top: 1px
