body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  color: #333
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    margin: 8px 0

  .content
    display: flex
    margin: 82px auto 32px
    padding: 0 16px
    max-width: 960px
    flex-direction: column
    align-items: center

  .card-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 16px

  .card
    border-radius: 4px
    border: 1px solid #eee
    background-color: #fafafa
    height: 40px
    width: 200px
    margin: 0 8px 16px
    padding: 16px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    transition: all 0.2s ease-in-out
    line-height: 24px

  &-container .card:not(:last-child)
    margin-right: 0

  &.card-small
    height: 16px
    width: 168px

  &-container .card:not(.highlight-card)
    cursor: pointer

  &-container .card:not(.highlight-card):hover
    transform: translateY(-3px)
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35)

  &.highlight-card
    background-color: #1976d2
    color: white
    font-weight: 600
    border: none
    width: auto
    min-width: 30%
    position: relative

  &.card.highlight-card span
    margin-left: 60px

  a,
  a:visited,
  a:hover
    color: #1976d2
    text-decoration: none

  a:hover
    color: #125699

  .terminal
    position: relative
    width: 80%
    max-width: 600px
    border-radius: 6px
    padding-top: 45px
    margin-top: 8px
    overflow: hidden
    background-color: rgb(15, 15, 16)

  &::before
    content: "\2022 \2022 \2022"
    position: absolute
    top: 0
    left: 0
    height: 4px
    background: rgb(58, 58, 58)
    color: #c2c3c4
    width: 100%
    font-size: 2rem
    line-height: 0
    padding: 14px 0
    text-indent: 4px

  & pre
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
    color: white
    padding: 0 1rem 1rem
    margin: 0



  /* Responsive Styles */
  @media screen and (max-width: 767px)

    .card-container > *:not(.circle-link) ,
    .terminal
      width: 100%

    .card:not(.highlight-card)
      height: 16px
      margin: 8px 0

    .card.highlight-card span
      margin-left: 72px
